<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav_bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

</head>

<body>
    <!-- Navigation menue -->
    <div id="div1">
        <div id="pic_div">
            <img src="static/img/rayyan.jpg" alt="My pic" id="my_pic">
        </div>
        <div id="social_div">
            <a href="{{ params['insta_url'] }}"><img src="static/img/insta.png"
                    alt="Insta" class="social_links"></a>
            <a href="{{ params['x_url'] }}"><img src="static/img/x.png" alt="X" class="social_links"></a>
            <a href="{{ params['youtube_url'] }}"><img src="static/img/youtube.png" alt="Youtube"
                    class="social_links"></a>
            <a href="{{ params['linked_in_url'] }}"><img src="static/img/linked in.png" alt="Linked in" class="social_links"></a>
        </div>
        <div>
            <a href="/index.html">Home</a>
        </div>
        <div>
            <a href="/about.html">About Me</a>
        </div>
        <div>
            <a href="/resume.html">Resume</a>
        </div>
        <div>
            <a href="/contact.html">Contact Me</a>
        </div>
    </div>
    <!-- Home page -->
    <div>
        <h1>Rayyan Ansari</h1>
    </div>
    <div>
        <img src="static/img/rayyan.jpg" alt="Profile pic" id="profile_pic">
    </div>
</body>

</html>